<div class="mt-6 text-center">
    <div class="card-body">
        <h4 class="card-title mb-5">Create new account</h4>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)" class="form-narrow">
            <div class="mb-3 row justify-content-center">
                <div class="col-md-4">
                    <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First name" />
                </div>
            </div>
            <div class="mb-3 row justify-content-center">
                <div class="col-md-4">
                    <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last name" />
                </div>
            </div>
            <div class="mb-3 row justify-content-center">
                <div class="col-md-4">
                    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" />
                </div>
                <div>
                    <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
                    <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                </div>
            </div>
            <div class="mb-3 row justify-content-center">
                <div class="col-md-4">
                    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
                </div>
                <div>
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
                </div>
            </div>
            <div class="mb-5 row justify-content-center">
                <div class="col-md-4">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" placeholder="Confirm password" />
                </div>
                <div>
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </div>
            </div>
            <div class="mb-4 row justify-content-center">
                <div class="col-md-4">
                    <input class="btn btn-primary w-100" type="submit" [disabled]="!registerForm.valid" value="Create account" />
                </div>
            </div>
        </form>
        <p class="mt-3">Got an account? <a class="p-link" [routerLink]="['/login']">Log in</a></p>
    </div>
</div>