.demo-table {
    width: 100%;
}

.demo-button-container {
    float: right;
    padding-bottom: 16px;
}

.demo-button + .demo-button {
    margin-left: 8px;
}

.remove {
    text-decoration: underline;
    color: black;
}
