.demo-table {
    width: 100%;
}

.demo-button-container {
    float: right;
    padding-bottom: 16px;
}

.demo-button + .demo-button {
    margin-left: 8px;
}

.manage-artist {
    text-decoration: underline;
    color: black;
}

td, th {
    font-size: 16px
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}