<div *ngIf="!isLoading">
    <div class="d-flex justify-content-between align-items-start mt-5">
        <h2>{{filmDetails.title}}</h2>
        <div class="d-flex align-items-center">
            <p class="text-medium mb-0 me-4" *ngIf="isUserAuthenticated && isUserCritic && ratingUserRate.hasRate">Your rate: {{ratingUserRate.rate}}/10</p>
            <div>
                <button *ngIf="isUserAuthenticated && isUserCritic" (click)="rateFilm()" mat-raised-button class="btn">
                    <span *ngIf="ratingUserRate.hasRate">Rate again</span>
                    <span *ngIf="!ratingUserRate.hasRate">Rate film</span>
                </button>
                <div class="d-flex justify-content-between">
                    <button *ngIf="isUserAuthenticated && isUserAdmin" (click)="update()" mat-raised-button class="btn">
                        Edit
                    </button>
                    <button *ngIf="isUserAuthenticated && isUserAdmin" (click)="deleteFilm()" mat-raised-button class="btn">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-start mt-5">
        <img class="w-20" [src]="getLinkPicture()" alt="{{filmDetails.title}}">
        <div class="w-80">
            <div class="mx-5">
                <p class="text-medium">Rating: {{rating | number:'0.1-2'}}</p>
                <p class="text-medium">Year: {{filmDetails.year}}</p>
                <p class="text-medium">Director: {{filmDetails.director.firstName}} {{filmDetails.director.lastName}}</p>
                <p class="text-medium">Genre: {{filmDetails.genre.name}}</p>
                <p class="text-medium">Duration: {{filmDetails.duration}} minutes</p>
                <p class="text-medium">Budget:  {{filmDetails.budget | currency}}</p>
                <p class="text-medium">Actors: {{showActors(filmDetails.actors)}} and others</p>
            </div>
        </div>
    </div>

    <!--TODO:
    add condition to *ngIf if film is already in favorite films list or not
    check method for (click)-->

    <div class="d-flex flex-column">
        <a *ngIf="isUserAuthenticated" (click)="addToFavorites()" class="btn btn-primary w-20 mt-4">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.6 18.55L12.5 18.65L12.39 18.55C7.64 14.24 4.5 11.39 4.5 8.5C4.5 6.5 6 5 8 5C9.54 5 11.04 6 11.57 7.36H13.43C13.96 6 15.46 5 17 5C19 5 20.5 6.5 20.5 8.5C20.5 11.39 17.36 14.24 12.6 18.55ZM17 3C15.26 3 13.59 3.81 12.5 5.08C11.41 3.81 9.74 3 8 3C4.92 3 2.5 5.41 2.5 8.5C2.5 12.27 5.9 15.36 11.05 20.03L12.5 21.35L13.95 20.03C19.1 15.36 22.5 12.27 22.5 8.5C22.5 5.41 20.08 3 17 3Z" fill="white" />
            </svg>
            <span class="ms-1"> Add to Favorites</span>
        </a>

        <a *ngIf="isUserAuthenticated" (click)="deleteFromFavorites()" class="btn btn-secondary w-20 mt-4">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21.35L10.55 20.03C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3C9.24 3 10.91 3.81 12 5.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5C22 12.27 18.6 15.36 13.45 20.03L12 21.35Z" fill="black" />
            </svg>
            <span class="ms-1"> Delete from Favorites</span>
        </a>
    </div>


    <div class="mt-5">
        <h3>What is the movie about:</h3>
        <p class="text-medium mt-3">{{filmDetails.shortDescription}}</p>
    </div>
</div>