<div class="d-flex justify-content-between align-items-center mt-2 mx-2 position-relative h-48">
    <div class="d-flex justify-content-center w-100">
<!--        TODO: pass form title -->
        <h4 class="m-0 mt-2">Rate film</h4>
    </div>
    <div class="close-button-box">
        <button mat-icon-button [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div class="text-center">
    <form [formGroup]="rateFormGroup" autocomplete="off" novalidate (ngSubmit)="save(rateFormGroup.value)">
        <div mat-dialog-content>
            <div class="mb-3 row justify-content-center">
                <div>
                    <mat-select placeholder="Rate" formControlName="rate" class="form-control">
                        <mat-option *ngFor="let r of rates" [value]=r>
                            {{r}}
                        </mat-option>
                    </mat-select>
                </div>
                <div>
                    <em *ngIf="validateControl('rate') && hasError('rate', 'required')">Rate is required</em>
                </div>
            </div>
        </div>
        <div mat-dialog-actions class="mb-3 row justify-content-center">
            <button type="submit" mat-button [disabled]="!rateFormGroup.valid">Save</button>
        </div>
    </form>
</div>