em{
    color: #e71515;
    font-weight: bold;
    font-style: normal;
}

.ng-invalid.ng-touched{
    border-color: red;
}

.position-relative {
    position: relative !important;
}

.close-button-box {
    position: absolute;
    top: 0;
    right: 0;
}

.h-48 {
    height: 48px !important
}