table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
    font-size: 16px
}

.film-photo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.film-photo img {
    width: 60px;
    height: 80px;
    transition: transform .2s;
}

.film-photo img:hover {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(4);
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

mat-slider {
    width: 500px;
}

.example-label-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0;
    max-width: 284px;
}
