/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

a {
    color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

h1 {
    color: red;
}

.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    float: right
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif !important;
}

.text-medium {
    font-size: 16px
}

.nav-link:hover, .table-link:hover {
    cursor: pointer;
    color: #6F42C1 !important
}

.w-5 {
    width: 5% !important
}

.w-10 {
    width: 10% !important
}

.w-15 {
    width: 15% !important
}

.w-30 {
    width: 30% !important
}

.w-40 {
    width: 40% !important
}

.w-50 {
    width: 50% !important
}