<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
                <img class="logo-img me-2" src="icon.png" alt="Film Rater icon">
                <span>FilmRater</span>
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                    class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
                    [ngClass]="{ show: isExpanded }"
            >
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/']">Films</a>
                    </li>
                    <li class="nav-item" *ngIf="!isUserAuthenticated" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/register']">Sign up</a>
                    </li>
                    <li class="nav-item" *ngIf="!isUserAuthenticated" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark pe-0" [routerLink]="['/login']">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserAuthenticated && isUserAdmin" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/artist-management']">Artists</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserAuthenticated">
                        <a class="nav-link text-dark pe-0" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>